@use "mixins" as *;
@use "variables" as *;

.error {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.title {
  font-size: 28px;
}

.text {
  color: $color-text-secondary;
}

.button {
  padding: 10px 20px;
  margin-top: 12px;
  font-weight: 500;
  color: #fff;
  background: $color-text;
  border-radius: $radius-small;
  transition: opacity $transition-fast;

  @include hoverable {
    opacity: 0.85;
  }
}
