@use "mixins" as *;
@use "variables" as *;

.gallery {
  --gallery-gap: 24px;

  display: flex;
  gap: var(--gallery-gap);
  align-items: flex-start;

  @include below($bp-tablet) {
    --gallery-gap: 16px;
  }
}

.column {
  flex: 1;
  min-width: 0;
}
